name: "code-runner"
description: "Run code inside a memory- and cpu-restricted sandbox"

mode: ONCE
hostname: "NSJAIL"
time_limit: 4

log_fd: 1
use_cgroupv2: true
iface_no_lo: true

rlimit_as: 2048                 # 2 GiB address space
rlimit_nproc: 10
rlimit_cpu: 1                   # 1 second of CPU time

cgroup_mem_max: 268435456       # 256 MB
cgroup_pids_max: 10

mount {
  src: "/alpine"
  dst: "/"
  is_bind: true
  rw: false
}

mount {
  dst: "/proc"
  fstype: "proc"
  rw: false
}

mount {
  src: "/bin"
  dst: "/bin"
  is_bind: true
  rw: false
}
mount {
  src: "/lib"
  dst: "/lib"
  is_bind: true
  rw: false
}
mount {
  src: "/lib64"
  dst: "/lib64"
  is_bind: true
  rw: false
}
mount {
  src: "/usr/lib"
  dst: "/usr/lib"
  is_bind: true
  rw: false
}
mount {
  src: "/dev/null"
  dst: "/dev/null"
  is_bind: true
  rw: false
}
mount {
  src: "/dev/urandom"
  dst: "/dev/urandom"
  is_bind: true
  rw: false
}


; sudo nsjail \
;   --config nsjail-base.cfg \
;   --bindmount=$(pwd):/app \
;   --bindmount_ro=/home/codespace/nvm/current/bin:/node \
;   --mount none:/proc:proc \
;   --tmpfsmount=/tmp \
;   --cwd /app \
;   --stats_file=./nsjail.stats \
;   -- /bin/bash -c "/node/node a.js"
